@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html {
    scroll-behavior: smooth;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #00a3e6;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}

.scroll-to-top:hover {
    background-color: #0fb0f0;
}

.logo_cilsa{
    width: 100px;
    height: 50px;
}

body {
    background-color: #222222; /* Gris */
    font-family: "Oswald", sans-serif;
}

.navbar, .footer, .card, .modal-content {
    background-color: #3a3a3a; /* Color más claro */
}

.nav-link, .navbar-brand, .footer p {
    color: white !important; /* Texto blanco */
}

.navbar-nav .nav-link:hover {
    color: #00a3e6 !important;
}

.section-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none; /* Eliminar subrayado predeterminado */
    color: inherit; /* Mantener el color del texto */
}

.section-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: #00a3e6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.section-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.title_footer{
    color: #00a3e6;
}

.btn-color{
    background-color:#00a3e6;
    color: #ffffff;
}

.btn-color:hover{
    background-color:#0fb0f0;
    color: #ffffff;
}

.navbar-toggler-icon {
    filter: invert(1);
}